.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #e0e0e0;
  background-color: #e49ec1;
}

.logo-container {
  flex: 1;
}

.logo {
  margin: 0;
  font-size: 2em;
  color: #444;
}

.nav-container {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #e49ec1;
}

.home {
  font-size: 1.2em;
  padding: 10px 20px;
  border: 3px solid rgb(68, 91, 226);
  border-radius: 20px;
  text-decoration: none;
  color: #444;
}

.home:hover {
  background-color: rgb(68, 91, 226);
  color: #fff;
}

.nav-login {
  background-color: #f2f2f2;
  cursor: pointer;
  height: 50px;
  border-radius: 20px;
  border: 3px solid rgb(68, 91, 226);
  width: 110px;
  /* text-align: center; */
  line-height: 50px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-login:hover {
  background-color: rgb(68, 91, 226);
  color: #fff;
}

.search-link {
  display: flex;
  align-items: center;
}

.toggle-switch {
  margin-left: 20px;
}
